name: Deploy static site to S3

on:
    # push: #
    #     branches: ['main']
    workflow_dispatch: # only manual trigger (dispatch)

permissions:
    contents: read
    id-token: write

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Set up Node
              uses: actions/setup-node@v6
              with:
                  node-version: lts/*
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Build
              run: npm run build
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
                  aws-region: ${{ secrets.AWS_REGION }}
                  role-session-name: github-actions-null4u
            - name: Sync to S3
              run: aws s3 sync ./dist s3://${{ secrets.S3_BUCKET }} --delete
